* {
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: whitesmoke;
}

.banner {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  padding: 1%;
  background-color: slategrey;
  text-align: center;
  color: whitesmoke;
  font-size: 130%;
}

.wrapper {
  margin-top: 50px;
  margin-left:  auto;
  margin-right: auto;
  width: 60%;
}

.paragraph {
  text-align: justify;
}

.link {
  text-decoration: none;
}

.nextbutton {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
  padding: 1%;
  font-size: 120%;
  color: black;
}

.nextbutton:hover {
  background-color: slategrey;
  color: whitesmoke;
}