* {
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: whitesmoke;
}

#banner {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 1%;
  background-color: slategrey;
  text-align: center;
  color: whitesmoke;
  font-size: 130%;
  position: fixed;
  top: 0%;
  z-index: 99;
  transition: 0.5s;
}

#tagline {
  margin-bottom: 5%;
  display: inherit;
}

#progress-container {
  width: 100%;
  height: 8px;
  background-color: white;
}

#progress-bar {
  width: 0%;
  height: 8px;
  background-color: rgb(51, 68, 78);
}

.footer {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  padding: 1%;
  background-color: slategrey;
  color: whitesmoke;
  font-size: 130%;
}


.wrapper {
  margin-top: 21rem;
  margin-left:  auto;
  margin-right: auto;
  width: 65%;
}

.paragraph {
  text-align: justify;
}

.link {
  text-decoration: none;
}

.startbutton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 120%;
  background-color: slategrey;
  color: whitesmoke;
  border-radius: 4px;
  transition: 0.3s;
}

.startbutton span::after {
  content: '\00bb';
  opacity: 0;
  transition: 0.3s;
  font-size: 120%;
}

.startbutton span::before {
  content: '\00bb';
  opacity: 0;
  transition: 0.3s;
  font-size: 120%;
}

.startbutton:hover {
  padding-right: 20px;
}

.startbutton:hover span::after {
  opacity: 1;
}

.nextbutton {
  margin-left: auto;
  margin-right: 0px;
  text-align: right;
  width: fit-content;
  border-radius: 4px;
  transition: 0.3s;
}

.nextbutton span {
  color: rgb(51, 68, 78);
}

.nextbutton:hover {
  padding-right: 10px;
}

.nextbutton:hover span::after {
  content: "    \00bb";
  opacity: 1;
}

.prevbutton {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
  width: fit-content;
  border-radius: 4px;
  transition: 0.3s;
}

.prevbutton span {
  color: rgb(51, 68, 78);
}

.prevbutton:hover {
  padding-left: 10px;
}

.prevbutton:hover span::before {
  content: "\00ab    ";
  opacity: 1;
}

.secnav {
  width : 100%
}

.secnav th {
  width: 50%;
}

.gist .blob-code-inner { 
  font-size: 15px !important; 
}